#include "app-config.xcconfig"
#include? "local-signing.xcconfig"

CAPACITOR_DEBUG = true
PICSEW_DEVELOPMENT_TEAM = $(inherited)
CURRENT_PROJECT_VERSION = $(PICSEW_BUILD_NUMBER)
DEVELOPMENT_TEAM = $(PICSEW_DEVELOPMENT_TEAM)
MARKETING_VERSION = $(PICSEW_MARKETING_VERSION)
PRODUCT_BUNDLE_IDENTIFIER = $(PICSEW_BUNDLE_IDENTIFIER)
